<h1>Listing Your Favorites</h1>
<!-- begin the goods -->
<div class="goods">
  
  <% @favs.each do |fav| %>
  <% good = fav.good %>
  <!-- begin good -->
    <div class="good">
      <div class="desc"><%= good.desc %></div>
      <div class="meta"><em><%= good.created_at.strftime("posted %B %d, %Y at %I:%M %p") %> GMT</em></div>
      <div class="actions">
        You've favorited this, <%= link_to 'unfavorite?', fav, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <!-- end good -->
  <% end %>
  
  <div class="clear"></div>
</div>
<!-- end the goods -->