<div id="home">
  <img src="images/home.jpg" id="pic" />
  <div class="home_box" id="start">
    <h2>Start doing good</h2>
    <p>Sign up or sign in using <a href="/authentications" class="twitter"><%= image_tag "twitter_32.png", :size => "32x32", :alt => "Twitter" %></a></p>
    <p>Already a member? <%= link_to "Sign in", new_user_session_path %>. <br />Or <%= link_to "Sign up", new_user_registration_path %> to get started.</p>
    <h2>Get Inspired</h2>
    <p><%= link_to "Browse", goods_path %> others good deeds each day and get inspired to do good yourself.</p>
  </div>
  <div class="clear"></div>
</div>