<!-- begin the goods -->
<div class="goods">
  
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <!-- begin good -->
  <div class="good">Lorem doloddr sit amet, consectetur adipiscing elit. Maecenas placerat tincidunt libero, nec euismod ligula faucibus in.
      <div class="meta"><em>posted Jan. 12th, 2010 at 5:41 PM CST</em></div>
      <div class="actions">So far 12 ppl have <a href="">favorited</a> this.</div>
    </div>
    <!-- end good -->
    
    <div class="clear"></div>
</div>
<!-- end the goods -->