<h1>Tell us about a good deed that you did today</h1>

<p>Need inspiration? <%= link_to 'Check out good deeds others have done', goods_path %></p>

<%= render 'form' %>

<%= link_to 'Back', goods_path %>